body{
	font-family: 'Open Sans', sans-serif;
}

 .row {
margin: 5px;
}
.bg-white {
    background-color: #ffffff!important;
}

.page-header{
  background-color: #3A3B42 !important;
  padding: 20px; 
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  color: #FFF;
}

.section-heading{
    font-weight: 600;
    padding: 10px;
    font-size: 16px;
    border-left: 5px #FDB819 solid;
}

.sidebar {
    float:left;
    background-color:#8B8C90;
    /*position: fixed;*/
    padding: 0px;
    min-height:85vh;

}
.cont{
  display: block;
  /*width:calc(100% - 200px);*/
  float:left; 
  padding: 0px;
}
ul.navbar-nav {
    margin-left: 100px;
}
.headbox{
  background-color: #000;
}
.headbox .col-sm-2, .headbox .col-sm-5, .headbox .col-sm-3{
  padding: 20px;
}

/*COLLAPSIBLE MENU*/

.sidebar-menu li a {
    text-transform: capitalize;
    color: #3a3b42;
    font-weight: 400 !important;
    padding: 5px;
    display: block;
    width: 100%;
    padding-left: 20px;
    font-size: 14px !important;
    transition: ease-out 1s;
}

.sidebar-menu li{
  list-style: none;
}
.sidebar-menu li a:hover{
  text-decoration: none;
  color: #FFF;
  /*background-color: #fff;*/
    transition: ease-in .5s;
}

.sidebar-menu li a.active {
    text-decoration: none;
    color: #E1B00B;
    background-color: #FFF;
}

.sidebar-menu{
  margin: 0px;
  margin-top: 50px;
    margin-bottom: 100px;
  padding: 0px;
}
.nolist{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sidebar .sidebar-menu li.nolistHighlight {
    background-color: #17629e;
    color: #1FB9B9;
    text-decoration: none
}
.sidebar .sidebar-menu li.nolistHighlight a {
    color: #1FB9B9;
}

.sidebar .sidebar-menu li ul {
    display: none;
    background-color: #ffffff;
}
    /*-webkit-box-shadow: inset 0px 1px 2px 0px rgba(221,221,221,1);
-moz-box-shadow: inset 0px 1px 2px 0px rgba(221,221,221,1);
box-shadow: inset 0px 1px 2px 0px rgba(221,221,221,1);*/
}
.sidebar .sidebar-menu li ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #00000090;
    padding-left: 10px;
}
.sidebar .sidebar-menu li ul li a.active {
    background-color: initial;
    color: #000;
    padding-bottom: initial
}
.sidebar .sidebar-menu li ul li a:hover {
    color:#000;
    /*background-color: #DDDDDD50;*/
}
.sidebar .sidebar-menu a {
  text-decoration: none !important;
  font-weight: 600 !important;
}


/*SCROLL BAR*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #FFF;

}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #eae9e8;
  /*border-radius: 0.2em;*/
  outline: 1px solid #dddddd;

}


.navy .fa-chevron-right{
    float: right;
    margin-right: 20px;
    transition: ease-in-out .5s;
}
.navy.active .fa-chevron-right{
transform: rotate(90deg);
transition: ease-in-out .5s;
}


/*-----------------------------------------------*/

.navbar-nav .nav-link{
  color: #000 !important;
}


.col-sm-4.half, .col-sm-3.half, .col-sm-2.half{
  padding-left: 0px;
  padding-right: 5px;
}
label{
  font-weight: 600;
}

.row{
  padding: 0px;
  margin: 0px;}
  .bg-dark {
    background-color: #fff!important;
    height: 59px;
  }


  .bg-light {
    background-color: #fdb819!important;
}
.navbar-expand-md .navbar-nav {
    flex-direction: row;
    margin-left: 45%;
}
.only-mobile{
  display: none;
}
.footer{
  border-top:1px solid #DDDDDD;
  padding: 20px;
  margin-top: 50px;
}

.nav-tabs .nav-item .nav-link.active {
    font-weight: 600;
    border-radius: 0px;
    background-color: #FDB819;
}
.nav-tabs .nav-item .nav-link{
    font-weight: 500;
    border-radius: 0px;
    background-color: #DDD;
}

nav.navbar.navbar-expand-md.navbar-light.bg-light {
    width:100%;
    margin: 0px;
    top: 0px;
    background-color: #FDB819 !important;
    color: #000 !important;
    font-weight: 600;
}
.navbar-dark .navbar-brand {
    color: #4c2929;
    /* position: fixed; */
}

.footer-top{
  background-color: #000;
  color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 14px;
}

.footer-top ul{
  padding: 0px;
}
.footer-top h4{
  color: #FDB819;
  font-size: 16px;
  font-weight: 800;
}

.footer-top a{
  color: #FFF;
  text-decoration: none;
  font-weight: 300;
}
.footer-top a:hover{
  color: #fdb819;
}
.footer-bottom{
  padding: 10px;
  font-size: 12px;
}


.dropdown:hover .dropdown-menu,.dropend:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }



.btn-block{
  width: 100%;
}



.source-image{
  display: block;
  width: 100px;
  border-radius: 50px;
  border:3px solid #09c;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #DDDDDD;
}
.source-widgets{
  text-align: center;
}
.source-title{
display: inline-block;
padding: 3px;
background-color: #DDDDDD;
margin-top:2px;
border-radius:5px;
font-size: 11px;
margin:auto;
}
.source-company{
display: inline-block;
padding: 3px;
background-color: #DDDDDD;
margin-top:2px;
border-radius:5px;
font-size: 11px;
margin:auto;
}
.source-name{
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.source-bio{
  text-align: center;
}
.source-field .card-body{
padding: 5px;
}
.source-field-heading{
  font-size: 15px;
  font-weight: 300;
}
.source-field-heading i{
  display: inline-block;
  padding: 5px;
  background-color: #DDD;
  width: 25px;
  height: 25px;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
}
form.field-delete-form {
    position: absolute;
    top: 5px;
    right: 5px;
}
@media only screen and (max-width: 990px){
.container{
  padding: 10px !important;
    width: 100%;
    margin: 0px;
}


  .sidebar{
    display: none;
  }
  .cont{
  width:100%;
  margin-left:0px;
  float:left; 
}
.half {
    width: 50%;
    clear: both;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
}
.half label{
  font-size: 12px;
}
.half .btn{
  margin-top:5px !important;
}
.caption h1 {
    font-weight: 800;
    font-size: 18px;
   padding: 5px;}
.caption h3 {
    font-weight: 500;
    font-size: 14px;
    padding: 5px;}
.caption .btn{
  padding: 5px;
  font-size: 12px;
}
.only-mobile{
  display:block;
}
.navbar-nav{
  margin-top:15px;
}
.half{
  width: 50%;
}
.no-mobile{
  display: none !important;
}
nav.navbar.navbar-expand-md.navbar-light.bg-light {
    /*background-color: #000 !important;*/
    color: #FFF !important;
}
.navbar-light .navbar-nav .nav-link {
     color: #000 !important;
     font-size:14px;
}
ul.navbar-nav {
    margin-left: 0px;
    padding-left: 10px;
}

.headbox .col-sm-3,.headbox .col-sm-5{
  padding:5px;
}

ul.dropdown-menu {
    background: none;
    border: none;
    padding: 0px;
}
.dropdown-item a {
    font-size: 14px;
    padding: 5px;
    color: #000;
    text-decoration: none;
}
button.navbar-toggler {
    margin-left: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

}